/*============ MEDIA QUERIES ==============*/
/*For small device*/ 
@media screen and (max-width: 360px) {
    .svg__img {
        width: 100%;
    }

    .section {
        padding: 3.5rem 0 1rem;
    }

    .services__img {
        width: 100px;
    }

    .app__buttons {
        grid-template-columns: max-content;
    }
}


/*For medium device*/
@media screen and (min-width: 576px) {
    .svg__img {
        width: 100%;
    }

    .section__title-center {
        text-align: initial;
    }

    .home__container,
    .about__container,
    .security__container,
    .services__container,
    .app__container,
    .contact__container,
    .footer__container {
        grid-template-columns: repeat(2, 1fr);
    }

    .home__img {
        order: 1;
    }

    .home__container,
    .about__container,
    .security__container,
    .app__container,
    .contact__container {
        align-items: center;
    }

    .about__data,
    .security__data,
    .app__data,
    .contact__description {
        text-align: initial;
    }

    .about__img,
    .app__img {
        order: -1;
    }
}

@media  screen and (min-width: 767px) {
    body {
        margin: 0;
    }

    .section {
        padding: 6rem 0 2rem;
    }

    .nav{
        height: calc(var(--header-height) + 1.5rem);

        &__list {
            flex-direction: row;
            column-gap: 2.5rem;
        }
         &__toggle {
             display: none;
         }
    }

    .change-theme {
        position: initial;
    }

    .home__container {
        padding: 6rem 0 2rem;
    }

    .app__buttons {
        justify-content: initial;
    }
}



/*For large device*/